<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'banner_gif.gif' %>)">
  <form action=“/action_page.php” class="fake_search_bar">
    <input class="search_input" type=“text” placeholder="Find a house..." name=“search”>
    <button class="search_button" type=“submit”>Search</button>
  </form>
</div>
<div class="card_container row">
  <div class="side_bar">
    <% Property::CATEGORY.each do |category| %>
      <% if category == params[:category]%>
        <a class="categorybutton active" href="/properties?category=<%= category %>"><%= category %></a>
      <% else %>
        <a class="categorybutton" href="/properties?category=<%= category %>"><%= category %></a>
      <% end %>
    <% end %>
  </div>
  <div class="cards">
    <% @properties.each do |property| %>
      <div class="card">
        <% if property.photo.attached? %>
          <div class="image_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path property.photo.key, height: 300, crop: :fill %>')">
          <% else %>
            <p>No photo attached</p>
          <% end %>
        </div>
        <div class="card_name_price">
          <%= link_to property.name, property_path(property), class: "card_name" %>
          <p><%= number_to_currency(property.price, {unit: '¥', precision: 0}) %> / night</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
