<div class="new_property_page">
  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">Add a new property</h1>
      </div>
      <div class="card-body">
        <%= simple_form_for [@property] do |f| %>
          <%= f.input :name %>
          <%= f.input :photo, as: :file %>
          <%= f.input :category %>
          <%= f.input :location %>
          <%= f.input :price %>
          <%= f.input :description %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
