<div class="card-product">
  <div class="d-flex align-items-center h-100">
    <%= cl_image_tag booking.property.photo.key, height: 100, crop: :fill %>
    <div class="card-product-infos">
      <p class="property_name"><%= booking.property.name %></p>
      <p class="property_price"><%= booking.start_date.strftime("%b %d, %Y") %> ~ <%= booking.end_date.strftime("%b %d, %Y") %></p>
      <p class="property_total_price">Total <%= number_to_currency(booking.total_price, {unit: '¥', precision: 0}) %></p>
    </div>
  </div>
  <div class="booking_status">
    <% if booking.rejected? %>
      <h3 class="red"><%= booking.status.capitalize %></h3>
    <% elsif booking.accepted? %>
      <h3 class="green"><%= booking.status.capitalize %></h3>
    <% else %>
      <h3><%= booking.status.capitalize %></h3>
    <% end %>
    <% if booking.pending? %>
      <!-- Display Forms-->
      <div class="d-flex">
        <%= simple_form_for booking do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
          <%= f.submit 'Accept', class: 'btn btn-info' %>
        <% end %>
        <%= simple_form_for booking do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
          <%= f.submit 'Reject', class: 'btn btn-light' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
