<div class="card-product">
  <%= cl_image_tag booking.property.photo.key, height: 100, crop: :fill %>
  <div class="card-product-infos">
    <p>Renter: <%= booking.user.name %></p>
    <p>Booking start: <%= booking.start_date %></p>
    <p>Booking end: <%= booking.end_date %></p>
    <p>Property Booked: <%= booking.property.name %></p>
  </div>
  <% if booking.rejected? %>
    <h3 class="red"><i class="fa-solid fa-circle" style="color: #e92525;"></i><%= booking.status %></h3>
  <% elsif booking.accepted? %>
    <h3 class="green"><i class="fa-solid fa-circle" style="color: #54d21e;"></i><%= booking.status %></h3>
  <% else %>
    <h3><%= booking.status %></h3>
  <% end %>

  <% if booking.pending? %>
    <!-- Display Forms-->
    <div class="d-flex">
      <%= simple_form_for booking do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
        <%= f.submit 'Accept', class: 'btn btn-info' %>
      <% end %>

      <%= simple_form_for booking do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
        <%= f.submit 'Reject', class: 'btn btn-light' %>
      <% end %>
    </div>
  <% end %>

</div>
